body{
  background: #5433FF; 
  background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
  background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); 
  
 
}

.container{
  display: flex;
  justify-content: center;
}